@page "/abm-lugares"
@inject NavigationManager navigate

@using SistemaSuedBlazor.Models

<div class="container-fluid">
    <h3><b><u>Panel alta de Lugares</u></b></h3>
    <hr />
    <div class="row">
        <EditForm Model="objMod" OnSubmit="guardar">
            <div class="row">
                <div class="col-sm-6">
                    <label>Lugar</label>&nbsp;
                    <InputNumber id="codLugar" name="codLugar" class="form-control" @bind-Value="objMod.codLugar" required />
                </div>
                <div class="col-sm-6">
                    <label>Tipo</label>&nbsp;
                    <InputNumber id="codTipo" name="codTipo" class="form-control" @bind-Value="objMod.codTipo" required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Sub-Tipo</label>&nbsp;
                    <InputNumber id="codSubTipo" name="codSubTipo" class="form-control" @bind-Value="objMod.codSubTipo" required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Descripción</label>&nbsp;
                    <InputTextArea id="descripcion" name="descripcion" class="form-control" @bind-Value="objMod.descripcion" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Calle</label>&nbsp;
                    <InputNumber id="calle" name="calle" class="form-control" @bind-Value="objMod.calle" required />
                </div>
                <div class="col-sm-6">
                    <label>Número</label>&nbsp;
                    <InputNumber id="dirNro" name="dirNro" class="form-control" @bind-Value="objMod.dirNro" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Adicional</label>&nbsp;
                    <InputText id="dirAdic" name="dirAdic" class="form-control" @bind-Value="objMod.dirAdic" />
                </div>
            </div>
            <hr />
            <br />
            <div class="row">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-outline-info"
                            type="submit"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            title="Guardar">
                        <i class="fas fa-arrow-circle-right"></i>&nbsp; Guardar
                    </button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-outline-danger"
                            @onclick="back"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            title="Volver al listado">
                        <i class="fas fa-arrow-circle-left"></i>&nbsp; Cancelar
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Lugar objMod = new Lugar();

    private void guardar() { }

    private void back()
    {
        navigate.NavigateTo("/lst-lugares");
    }
}