@page "/abm-preventivo"

<div class="container">
    <h3>Panel administrador de Preventivos</h3>
    <hr />

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">General</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Medio Utilizado</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#objeto" type="button" role="tab" aria-controls="objeto" aria-selected="false">Objeto</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#modalidad" type="button" role="tab" aria-controls="modalidad" aria-selected="false">Modalidad</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <br />
            <section class="tab-panel">
                <SistemaSuedBlazor.Pages.component.frm_abm.componentes.General></SistemaSuedBlazor.Pages.component.frm_abm.componentes.General>
            </section>
            <br />
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <br />
            <section class="tab-panel">
                <SistemaSuedBlazor.Pages.component.frm_abm.componentes.MedioUtilizado></SistemaSuedBlazor.Pages.component.frm_abm.componentes.MedioUtilizado>
            </section>
        </div>
        <div class="tab-pane fade" id="objeto" role="tabpanel" aria-labelledby="contact-tab">
            <br />
            <section class="tab-panel">
                <SistemaSuedBlazor.Pages.component.frm_abm.componentes.Objeto></SistemaSuedBlazor.Pages.component.frm_abm.componentes.Objeto>
            </section>
        </div>
        <div class="tab-pane fade" id="modalidad" role="tabpanel" aria-labelledby="contact-tab">
            <br />
            <section class="tab-panel">
                <SistemaSuedBlazor.Pages.component.frm_abm.componentes.Modalidad></SistemaSuedBlazor.Pages.component.frm_abm.componentes.Modalidad>
            </section>
        </div>
    </div>
</div>
@code {

}
