@using SistemaSuedBlazor.Models
<div class="container-fluid">
    <EditForm Model="objMod" OnSubmit="addRow">
        <div class="row">
            <div class="col-sm-6">
                <label>Fecha</label>&nbsp;
                <InputDate id="descripcion" name="descripcion" class="form-control" @bind-Value="objMod.fecha" required />
            </div>
            <div class="col-sm-6">
                <label>Nota n°</label>&nbsp;
                <InputText id="codigo" name="codigo" class="form-control" @bind-Value="objMod.nota" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <label>Observaciones</label>&nbsp;
                <InputTextArea id="observaciones" name="observaciones" class="form-control" @bind-Value="objMod.obs" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-primary"
                        type="submit"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        title="Guardar">
                    <i class="fa fa-plus"></i>&nbsp; Agregar a tabla
                </button>
            </div>
        </div>
    </EditForm>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered border-primary text-center">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Nota</th>
                        <th scope="col">Unidad</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @if (list != null)
                    {
                        foreach (var item in list)
                        {
                            <tr>
                                <td>@item.fecha</td>
                                <td>@item.nota</td>
                                <td>@item.unidad</td>
                                <td>
                                    <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    title="Eliminar"
                                    @onclick="async()=>{deleteRow(item);}">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    @if (list.Count() == 0)
                    {
                        <tr class="alert alert-info">
                            <td colspan="20"><b>Sin Datos</b></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-info"
                type="submit"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                title="Guardar">
            <i class="fas fa-arrow-circle-right"></i>&nbsp; Siguiente
        </button>
    </div>
</div>
<br />
<div class="row">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-danger"
                type="submit"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                title="Guardar">
            <i class="fas fa-arrow-circle-left"></i>&nbsp; Cancelar
        </button>
    </div>
    <br />
</div>

@code {
    private PreAmpli objMod = new PreAmpli();
    List<PreAmpli> list = new List<PreAmpli>();

    private void addRow()
    {
        this.list.Add(objMod);
        objMod = new PreAmpli();
    }

    private void deleteRow(PreAmpli objMod)
    {
        var index = this.list.IndexOf(objMod);
        if (index != -1)
        {
            this.list?.RemoveAt(index);
        }
    }
    }