<form>
    <div class="row">
        <div class="col-md-6">
            <label>Fecha Preventivo</label>
            <input class="form-control" type="date" />
        </div>
        <div class="col-md-6">
            <label>Unidad</label>
            <input class="form-control" type="text" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Comunicación Preventiva</label>
            <div class="row">
                <div class="col-md-5">
                    <span>Año:</span>
                    <input class="form-control" type="text" />
                </div>
                <div class="col-md-5">
                    <span>Nro.:</span>
                    <input class="form-control" type="number" />
                </div>
                <div class="col-md-2">
                    <span>Letra:</span>
                    <input class="form-control" type="text" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <br />
            <input type="checkbox" />&nbsp;
            <span>Intervención Policial</span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <span>Fecha Hecho:</span>
            <input class="form-control" type="date" />
        </div>
        <div class="col-md-2">
            <span>Hora:</span>
            <input class="form-control" type="time" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Delito:</label>
            <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
            <br />
            <span>{resultado de la busqueda del filtro}</span>
        </div>
    </div>
    <br />
    <div class="row text-center">
        <div class="col-md-12">
            <label><u><b>Carátulas Secundarias</b></u></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span>Lugar:</span>
            <input class="form-control" type="text" placeholder="Ingrese nombre o código" />
        </div>
        <div class="col-md-3">
            <br />
            <label>{resultado de la busqueda}</label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            D.N.P.C
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse" aria-expanded="false" aria-controls="panelsStayOpen-collapse">
                                            Accidentes de Tránsito
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapse" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                        <div class="accordion-body text-center">
                                            <hr />
                                            <fieldset class="alert alert-success">

                                                <legend>Lugar</legend>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>
                                                            Urbanos
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            Sub-Urbanos
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            Rural
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>

                                                </div>
                                            </fieldset>
                                            <hr />
                                            <fieldset class="alert alert-info">
                                                <legend>Horario</legend>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>
                                                            Diurno
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>
                                                            Nocturno
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <hr />
                                            <fieldset class="alert alert-secondary">
                                                <legend>Victimas</legend>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>
                                                            Leves
                                                        </label>&nbsp;
                                                        <input class="form-control" type="number" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            Graves
                                                        </label>&nbsp;
                                                        <input class="form-control" type="number" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            Fallecidos
                                                        </label>&nbsp;
                                                        <input class="form-control" type="number" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <hr />
                                            <fieldset class="alert alert-warning">
                                                <legend>Vehículos Intervinientes (Indicar cantidad)</legend>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>
                                                            Particulares
                                                        </label>&nbsp;
                                                        <input class="form-control" type="number" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Carga
                                                        </label>&nbsp;
                                                        <input class="form-control" type="number" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Pasajeros
                                                        </label>&nbsp;
                                                        <input class="form-control" type="number" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Otros
                                                        </label>&nbsp;
                                                        <input class="form-control" type="number" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                            ACC 2018
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                        <div class="accordion-body">
                                            <hr />
                                            <fieldset class="alert alert-success text-center">
                                                <legend>Modo Producción del Hecho</legend>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>
                                                            Vehículo - Peatón
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Vehículo - Vehículo
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Vehículo - Objeto fijo
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Vehículo - Bicicleta
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>
                                                            Motocicleta - Bicicleta
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Bicicleta sola
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Vehículo solo
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Vehículo - Motocicleta
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>
                                                            Vehículo - T. a sangre
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Motocicleta - Motoc.
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Motocicleta - T. a sangre
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Motocicleta - Peatón
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>
                                                            Múltiple
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Tren
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Atropello Animal
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Otro Modo
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>Especificar:</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input class="form-control-sm" type="text" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <hr />
                                            <fieldset class="alert alert-info text-center">
                                                <legend>Tipo de Hecho</legend>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>
                                                            Colisión
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Vuelco
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Inmersión
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            Incendio
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>
                                                            Caidas Ocupantes
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            Otros
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            Se ignora
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <hr />
                                            <fieldset class="alert alert-secondary text-center">
                                                <legend>Ubicación de la calzada</legend>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>
                                                            Dentro de la calzada
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            Fuera de la calzada
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            Se ignora
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <hr />
                                            <fieldset class="alert alert-warning text-center">
                                                <legend>Condiciones Climáticas</legend>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>
                                                            Normal
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            Niebla
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            LLuvia - Llovizna
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>
                                                            Nieve - granizo
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>
                                                            Otra condición
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="alert alert-info text-center">
                                                <legend>Intersección</legend>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>
                                                            Si
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>
                                                            No
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="alert alert-light text-center">
                                                <legend>Semáforo</legend>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>
                                                            Funciona bien
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            No funciona
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            No hay
                                                        </label>&nbsp;
                                                        <input type="checkbox" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@code {

}
<style>

</style>