<form>
    <div class="row">
        <div class="col-md-6">
            <label>Fecha Preventivo</label>
            <input class="form-control" type="date" />
        </div>
        <div class="col-md-6">
            <label>Unidad</label>
            <input class="form-control" type="text" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Comunicación Preventiva</label>
            <div class="row">
                <div class="col-md-5">
                    <span>Año:</span>
                    <input class="form-control" type="text" />
                </div>
                <div class="col-md-5">
                    <span>Nro.:</span>
                    <input class="form-control" type="number" />
                </div>
                <div class="col-md-2">
                    <span>Letra:</span>
                    <input class="form-control" type="text" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <br />
            <input type="checkbox" />&nbsp;
            <span>Intervención Policial</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <span>Fecha Hecho:</span>
            <input class="form-control" type="date" />
        </div>
        <div class="col-md-2">
            <span>Hora:</span>
            <input class="form-control" type="time" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Delito:</label>
            <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
             <br />
            <span>{resultado de la busqueda del filtro}</span>
        </div>
    </div>
    <br />
    <div class="row text-center">
        <div class="col-md-12">
            <label><u>Caratulas Secundarias</u></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span>Lugar:</span>
            <input class="form-control" type="text" placeholder="Ingrese nombre o código de lugar" />
        </div>
        <div class="col-md-3">
            <br />
            <label>{resultado de la busqueda}</label>
        </div>
    </div>

</form>
@code {

}
