@using SistemaSuedBlazor.Models
<div class="container-fluid">
    <EditForm Model="objMod" OnSubmit="addRow">
        <div class="row">
            <div class="col-sm-4">
                <label>Sexo</label>&nbsp;
                <InputText id="sexo" name="sexo" class="form-control" @bind-Value="objMod.sexo" required />
            </div>
            <div class="col-sm-4">
                <label>Edad</label>&nbsp;
                <InputNumber id="edad" name="edad" class="form-control" @bind-Value="objMod.edad" required />
            </div>
            <div class="col-sm-4">
                <label>Nacionalidad</label>&nbsp;
                <InputText id="nacionalidad" name="nacionalidad" class="form-control" @bind-Value="objMod.nacionalidad" required />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Estudios</label>&nbsp;
                <InputText id="estudios" name="estudios" class="form-control" @bind-Value="objMod.estudios" required />
            </div>
            <div class="col-sm-4">
                <label>Ocupacion</label>&nbsp;
                <InputText id="estudios" name="estudios" class="form-control" @bind-Value="objMod.ocupacion" required />
            </div>
            <div class="col-sm-4">
                <label>Falleció</label>&nbsp;
                <InputCheckbox id="estudios" name="estudios" class="form-control-sm" @bind-Value="objMod.fallecio" required />
            </div>
        </div>

        <br />
        <div class="row">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-primary"
                        type="submit"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        title="Guardar">
                    <i class="fa fa-plus"></i>&nbsp; Agregar a tabla
                </button>
            </div>
        </div>
    </EditForm>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered border-primary text-center">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Sexo</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Nacionalidad</th>
                        <th scope="col">Estudios</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @if (list != null)
                    {
                        foreach (var item in list)
                        {
                            <tr>
                                <td>@item.sexo</td>
                                <td>@item.edad</td>
                                <td>@item.nacionalidad</td>
                                <td>@item.estudios</td>
                                <td>
                                    <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    title="Eliminar"
                                    @onclick="async()=>{deleteRow(item);}">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    @if (list.Count() == 0)
                    {
                        <tr class="alert alert-info">
                            <td colspan="20"><b>Sin Datos</b></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-info"
                type="submit"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                title="Guardar">
            <i class="fas fa-arrow-circle-right"></i>&nbsp; Siguiente
        </button>
    </div>
</div>
<br />
<div class="row">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-danger"
                type="submit"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                title="Guardar">
            <i class="fas fa-arrow-circle-left"></i>&nbsp; Cancelar
        </button>
    </div>
</div>
<br />
@code {
    private Previctima objMod = new Previctima();
    List<Previctima> list = new List<Previctima>();

    private void addRow()
    {
        this.list.Add(objMod);
        objMod = new Previctima();
    }

    private void deleteRow(Previctima objMod)
    {
        var index = this.list.IndexOf(objMod);
        if (index != -1)
        {
            this.list?.RemoveAt(index);
        }
    }
    }

