<form>
    <div class="row">
        <table>
            <tr>
                <td>
                    <label> <b> Medio Utilizado</b></label>
                    <div class="col-md-5">
                        <select class="form-control" name="cars" id="cars">
                            <option value="Arma de fuego">Camión</option>
                            <option value="saab">Arma blanca</option>
                            <option value="mercedes">Auto</option>
                            <option value="audi">Motocicleta</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="col-md-2">
                        <label><b> Secuestro</b></label>
                        <input class="form-control-sm" type="checkbox" />
                    </div>
                </td>
                <td>
                    <div class="col-md-4">
                        <label><b>Fecha</b></label>
                        <input class="form-control-sm" type="date" />
                    </div>
                </td>
                <td>
                    <div class="col-md-1">
                        <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                title="Guardar">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered border-primary text-center">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Medio</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Secuestro</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @*@if (lista > 0)
                        {
                        foreach (var item in lista)
                        {*@
                    <tr>
                        <td>26/06/2022</td>
                        <td>Comisaria Primera Barranqueras</td>
                        <td>2022-01</td>
                        <td>
                            <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    title="Eliminar">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    @*   }
                        }

                        else
                        {
                        <tr>
                        <td colspan="20">sin datos</td>
                        </tr>
                        }*@
                </tbody>
            </table>
        </div>
    </div>
</form>

@code {

}
