<form>
    <div class="row">
        <div class="col-md-2">
            <label>Buscar Modalidad</label>
        </div>
        <div class="col-md-5">
            <input class="form-control" type="text" />
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary">Buscar</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-secondary">Guardar</button>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered border-primary text-center">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Modalidad</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @*@if (lista > 0)
                        {
                        foreach (var item in lista)
                        {*@
                    <tr>
                        <td>Otras modalidades</td>
                        <td>12</td>
                        <td>
                            <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    title="Eliminar">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    @*   }
                        }

                        else
                        {
                        <tr>
                        <td colspan="20">sin datos</td>
                        </tr>
                        }*@
                </tbody>
            </table>
        </div>
    </div>
</form>
@code {

}
