<form>
    <div class="row">
        <div class="col-md-2">
            <label>Objeto</label>
            </div>
        <div class="col-md-4">
            <input class="form-control" type="text" />
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-secondary">Buscar</button>
        </div>
        <div class="col-md-5">
            <button type="submit" class="btn btn-primary">Agregar</button>
                       
        </div>
    </div>
    <br />
    <table class="table table-bordered border-primary text-center">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Objeto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Secuestro</th>
                    <th scope="col">Valor</th>
                    <th scope="col">N° Orden</th>
                    <th scope="col">Acción</th>
                    
                </tr>
            </thead>
            <tbody>
                @*@if (lista > 0)
                    {
                    foreach (var item in lista)
                    {*@
                <tr>
                    <td>1001</td>
                    <td>pistola</td>
                    <td>1</td>
                    <td></td>
                    <td>909528</td>
                    <td><button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar">
                       <i class="fa fa-trash"></i> </button> </td>
                    
                </tr>
                @*   }
                    }

                    else
                    {
                    <tr>
                    <td colspan="20">sin datos</td>
                    </tr>
                    }*@
            </tbody>
        </table>
</form>
@code {

}
