@using SistemaSuedBlazor.Models

<div class="container-fluid">
    <EditForm Model="objMod" OnSubmit="addRow">
        <div class="row">
            <div class="col-sm-4">
                <label>Objeto</label>&nbsp;
                <InputText id="objeto" name="objeto" class="form-control" @bind-Value="objMod.objeto" required />
            </div>
            <div class="col-sm-4">
                <label>Cantidad</label>&nbsp;
                <InputNumber id="cantidad" name="cantidad" class="form-control" @bind-Value="objMod.cantidad" type="number" required />
            </div>
            <div class="col-sm-4">
                <label>Valor</label>&nbsp;
                <InputNumber id="valor" name="valor" class="form-control" @bind-Value="objMod.valor" type="text" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <label>Secuestro</label>&nbsp;
                <InputCheckbox id="secuestro" name="secuestro" @bind-Value="objMod.secuestro" class="form-control-sm" type="checkbox" required />
            </div>
            <div class="col-sm-4">
                <label>Fecha</label>&nbsp;
                <InputDate id="fecha" name="fecha" @bind-Value="objMod.fecha" class="form-control" required />
            </div>
            <div class="col-sm-4">
                <label>Cantidad</label>&nbsp;
                <InputNumber id="cantidadSec" name="cantidadSec" @bind-Value="objMod.cantidadSec" class="form-control" type="number" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-primary"
                        type="submit"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        title="Guardar">
                    <i class="fa fa-plus"></i>&nbsp; Agregar a tabla
                </button>
            </div>
        </div>
    </EditForm>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered border-primary text-center">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Objeto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Secuestro</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @if (list != null)
                    {
                        foreach (var item in obj)
                        {
                            <tr>
                                <td>@item.objeto</td>
                                <td>@item.cantidad</td>
                                <td>@item.secuestro</td>
                                <td>@item.valor</td>
                                <td>
                                    <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    title="Eliminar"
                                    @onclick="async()=>{deleteRow(item);}"
                                    >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }

                    else
                    {
                        <tr class="alert alert-info">
                            <td colspan="20"><b> Sin Datos </b></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@code {


    private ObjetoModel objMod = new ObjetoModel();
    List<ObjetoModel> list = new List<ObjetoModel>();
    public ObjetoModel[] obj;

    private void addRow()
    {
        this.list.Add(objMod);
        objMod = new ObjetoModel();
    }

    private void deleteRow(ObjetoModel objMod)
    {
        var index = this.list.IndexOf(objMod);
        if (index != -1)
        {
            this.list.RemoveAt(index);
        }

    }

}
