@inject IJSRuntime JsRuntime

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Estadísticas Policiales</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>areaExpandida = !areaExpandida">
                <i class="fa fa-table" aria-hidden="true"></i>&nbsp; Tablas
            </NavLink>
        </div>
        @if (areaExpandida)
        {
            <ul style="width: 250px; height: 200px; overflow: auto">
                <li>
                    <a href="/lst-delitos">
                        Delitos
                    </a>
                </li>
                <li>
                    <a href="/lst-lugares">
                        Lugares
                    </a>
                </li>
                <li>
                    <a href="/lst-medios">
                        Medios Utilizados
                    </a>
                </li>
                <li>
                    <a href="/lst-barrios">
                        Barrios
                    </a>
                </li>
                <li>
                    <a href="/lst-calles">
                        Calles
                    </a>
                </li>
                <li>
                    <a href="/lst-dnpc">
                        Delitos DNCP
                    </a>
                </li>
                <li>
                    <a href="/lst-departamentos">
                        Departamentos
                    </a>
                </li>
                <li>
                    <a href="/lst-localidades">
                        Localidades
                    </a>
                </li>
                <li>
                    <a href="/lst-modalidades">
                        Modalidades
                    </a>
                </li>
                <li>
                    <a href="/lst-nacionalidades">
                        Nacionalidades
                    </a>
                </li>
                <li>
                    <a href="/lst-estudio">
                        Nivel de Estudio
                    </a>
                </li>
                <li>
                    <a href="/lst-ocupaciones">
                        Ocupaciones
                    </a>
                </li>
                <li>
                    <a href="/lst-provincias">
                        Provincias
                    </a>
                </li>
                <li>
                    <a href="/lst-sexos">
                        Sexos
                    </a>
                </li>
                <li>
                    <a href="/lst-unidades">
                        Unidades
                    </a>
                </li>
                <li>
                    <a href="/lst-vinculos">
                        Vinculos
                    </a>
                </li>
                <li>
                    <a href="/lst-marcasArmas">
                        Marcas de armas
                    </a>
                </li>
                <li>
                    <a href="/lst-marcasVehiculos">
                        Marcas de vehículos
                    </a>
                </li>
                <li>
                    <a href="/lst-modelVehiculos">
                        Modelos de vehículos
                    </a>
                </li>
            </ul>
        }
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>areaPlanillas = !areaPlanillas">
                <i class="fa fa-book" aria-hidden="true"></i>&nbsp; Planillas
            </NavLink>
        </div>
        @if (areaPlanillas)
        {
            <ul>
                <li>
                    <a href="/lst-preventivos">
                        Contravenciones
                    </a>
                </li>
                <li>
                    <a href="/lst-preventivos">
                        Colisiones
                    </a>
                </li>
                <li>
                    <a href="/lst-preventivos">
                        Lesiones leves
                    </a>
                </li>
                <li>
                    <a href="/lst-preventivos">
                        Contravenciones (2004)
                    </a>
                </li>
            </ul>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/lst-preventivos">
                <span class="oi oi-list-rich" aria-hidden="true"></span>&nbsp; Preventivos
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool areaExpandida;
    private bool areaPlanillas;
}
<style>
    a {
        text-decoration: none;
        color: white
    }
</style>
